h1,p{
    text-align: center;
}
p{
    font-size: 1.2rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    width: 1.5rem;
}

.search-bar {
    background-color: lightgrey;
    padding: 1rem;
    display: flex;
    margin: 1rem auto;
    border: 10px red;
    width: 20rem;
    border-radius: 1rem;
    overflow: hidden;

}

.search-input {
    border: 0;
    all: unset;
    flex-grow: 1;
}

